
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
.phpunit.result.cache
.phpunit.cache
reports/
###< phpunit/phpunit ###

###> php-cs-fixer/php-cs-fixer ###
.php-cs-fixer.cache
###< php-cs-fixer/php-cs-fixer ###

###>symfony/framework-bundle###
/public/bundles/
/var/
/vendor/
###<symfony/framework-bundle###

###>phpstorm###
.idea/
